<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrap_extend_1547612893723.css">
    <!-- 项目 css 文件 -->
    <link rel="stylesheet" href="/dist/css/index_1547612893723.css">
    <link rel="stylesheet" href="/public/icon/iconfont.css">
    <style>
        p{
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <div class="be-lay-out be-has-sidebar">
        <div class="be-navigation be-expansion expand in" role="aside" data-narrow-dimension="80" id="J_navigation">
            <div class="be-logo-area">

            </div>
            <ul class="be-menu be-menu-dark pull-oh" id="J_menu" role="menubar">
                
            </ul>
        </div>
        <div class="be-content pull-oh" role="main">
            <div class="be-header" role="header">
                <div class="be-expansion-controller" data-toggle="expansion" href="#J_navigation" aria-expanded="true">
                    <i class="icon iconfont"></i>
                </div>
            </div>
            <div class="be-content" style="height: auto;overflow: visible; 
            padding: 20px; display:block;min-height: 2000px;background-color: #fff;">
                <div>
                    <p>select</p>
                    <p>filterable</p>
                    <div class="be-select blur" aria-expanded="false" role="application" style="width: 200px;">
                        <div class="be-select-place be-select-place-default show">请选择</div>
                        <div class="be-select-place be-select-place-chosed hide"></div>
                        <div class="be-select-trigger-input blur" data-toggle="select">
                            <input class="be-select-trigger hide" role="combobox" aria-autocomplete="inline" aria-owns="cb1-list"
                                autocomplete="off" type="text" />
                        </div>
                        <div class="be-select-arrow">
                            <i class="icon iconfont"></i>
                        </div>
                        <ul class="be-select-dropdown" aria-labelledby="iLabel" aria-hidden="true" role="listbox">
                            <li class="be-select-dropdown-item" role="option" aria-selected="false" title="11111"
                                data-value="1">11111</li>
                            <li class="be-select-dropdown-item" role="option" aria-selected="false" title="22222"
                                data-value="2">22222</li>
                            <li class="be-select-dropdown-hint hide" role="option" aria-selected="false">无匹配结果</li>
                        </ul>
                    </div>
                    <p>unfilterable</p>
                    <div class="be-select blur" aria-expanded="false" role="application" style="width: 200px;">
                        <div class="be-select-place be-select-place-default show">请选择</div>
                        <div class="be-select-place be-select-place-chosed hide"></div>
                        <div class="be-select-trigger-input blur" data-toggle="select">
                            <input class="be-select-trigger hide" role="combobox" aria-autocomplete="inline" aria-owns="cb1-list"
                                autocomplete="off" type="button" />
                        </div>
                        <div class="be-select-arrow">
                            <i class="icon iconfont"></i>
                        </div>
                        <ul class="be-select-dropdown" aria-labelledby="iLabel" aria-hidden="true" role="listbox">
                            <li class="be-select-dropdown-item" role="option" aria-selected="false" title="3333"
                                data-value="1">3333</li>
                            <li class="be-select-dropdown-item" role="option" aria-selected="false" title="3333"
                                data-value="2">3333</li>
                            <li class="be-select-dropdown-hint hide" role="option" aria-selected="false">无匹配结果</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>input</p>
                    <div class="be-upload pull-oh" data-url="http://mx.test.jikegz.com/api/Index/Index/upload"
                        data-name="upload">
                        <div class="be-upload-indirector">
                            <div class="be-upload-hint-wrapper show">
                                <p class="be-upload-icon"><i class="icon iconfont icon-folder-open"></i></p>
                                <p class="be-upload-text">点击这里上传</p>
                                <p class="be-upload-hint">支持扩展名：.rar .zip .doc .docx .pdf .jpg...</p>
                            </div>
                            <div class="be-upload-result-wrapper hide">
                                <img src="" />
                                <p class="be-upload-result-text"></p>
                            </div>
                        </div>
                        <input class="be-upload-trigger" type="file" data-upload="input" />
                    </div>
                </div>
                <div>
                    <p>tooltip</p>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip
                        on left</button>
                </div>
                <div>
                    <p>toast</p>
                    <input class="btn btn-default" type="button" id="J_toast" value="Default">
                    <input class="btn btn-success" type="button" id="J_Success" value="Success">
                    <input class="btn btn-danger" type="button" id="J_Danger" value="Danger">
                    <input class="btn btn-warning" type="button" id="J_Warning" value="Warning">
                </div>
                <div>
                    <p>button</p>
                    <input class="btn btn-default" type="button" value="Default">
                    <input class="btn btn-default be-btn-primary" type="button" value="Primary">
                    <input class="btn btn-default be-btn-default" type="button" value="Default">
                    <input class="btn btn-default be-btn-dashed" type="button" value="Dashed">
                    <input class="btn btn-default be-btn-danger" type="button" value="Danger">
                    <input class="btn btn-default be-btn-default" type="button" value="Disabled" disabled>
                    <input class="btn btn-primary" type="button" value="Primary">
                    <input class="btn btn-success" type="button" value="Success">
                    <input class="btn btn-danger" type="button" value="Danger">
                    <input class="btn btn-warning" type="button" value="Warning">
                </div>
                <div>
                    <p>Router</p>    
                    <input class="btn btn-default be-btn-primary" type="button" id="J_one" value="Query with one parameter">
                    <input class="btn btn-default be-btn-primary" type="button" id="J_two" value="Query with two parameter">
                </div>
                <div>
                    <p>Pagination</p>
                    <ul class="pagination be-pagination" data-page="pagination" data-total="100" data-size="10" data-current="1" style="width:100%;">
                        <li class="be-pagination-prev be-pagination-btn" aria-disabled="false">
                            <i class="icon iconfont icon-left"></i>
                        </li>
                        <li class="be-pagination-first be-pagination-btn"></li>
                        <li class="be-pagination-jump-prev">
                            <i class="icon iconfont"></i>
                        </li>
                        <li class="be-pagination-item-wrapper">
                            <ul>
                            </ul>
                        </li>
                        <li class="be-pagination-jump-next">
                            <i class="icon iconfont"></i>
                        </li>
                        <li class="be-pagination-last be-pagination-btn"></li>
                        <li class="be-pagination-next be-pagination-btn" aria-disabled="false">
                            <i class="icon iconfont icon-right"></i>
                        </li>
                        <li class="be-pagination-setsize">
                            <div class="be-select blur" aria-expanded="false" role="application" style="width: 100px;">
                                <div class="be-select-place be-select-place-default show">10条/页</div>
                                <div class="be-select-place be-select-place-chosed hide"></div>
                                <div class="be-select-trigger-input blur" data-toggle="select">
                                    <input class="be-select-trigger hide" role="combobox" aria-autocomplete="inline" aria-owns="cb1-list"
                                        autocomplete="off" type="button" />
                                </div>
                                <div class="be-select-arrow">
                                    <i class="icon iconfont"></i>
                                </div>
                                <ul class="be-select-dropdown" aria-labelledby="iLabel" aria-hidden="true" role="listbox">
                                    <li class="be-select-dropdown-item" role="option" aria-selected="false" title="10"
                                        data-value="10">10条/页</li>
                                    <li class="be-select-dropdown-item" role="option" aria-selected="false" title="20"
                                        data-value="20">20条/页</li>
                                    <li class="be-select-dropdown-item" role="option" aria-selected="false" title="30"
                                        data-value="30">30条/页</li>
                                    <li class="be-select-dropdown-item" role="option" aria-selected="false" title="40"
                                        data-value="40">40条/页</li>
                                </ul>
                            </div>
                        </li>
                        <li class="be-pagination-options">
                            <div class="be-pagination-options-quick-jumper">跳至<input class="be-input" type="text" value="">页</div>
                        </li>
                    </ul>
                </div>
                <div>
                    <p>loading</p>
                    <input class="btn btn-default" id="J_loading" type="button" value="Loading">
                </div>
                <div>
                    <p>radiobox disabled</p>
                    <div class="be-radio-group" data-radio="radio">
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input disabled checked" data-value="1"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option1</span>
                            </label>
                        </div>
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input disabled" data-value="2"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option2</span>
                            </label>
                        </div>
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input disabled" data-value="3"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option3</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>radiobox </p>
                    <div class="be-radio-group" data-radio="radio">
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input checked" data-value="1"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option1</span>
                            </label>
                        </div>
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input " data-value="2"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option2</span>
                            </label>
                        </div>
                        <div class="be-radio-wrapper">
                            <div class="be-radio-input " data-value="3"></div>
                            <label class="be-radio-label">
                                <span class="be-radio-labe-text">option3</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>checkbox</p>
                    <div class="be-checkbox-group" data-checkbox="checkbox">
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input checked" data-value="1"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option1</span>
                            </label>
                        </div>
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input " data-value="2"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option2</span>
                            </label>
                        </div>
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input " data-value="3"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option3</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>checkbox disabled</p>
                    <div class="be-checkbox-group" data-checkbox="checkbox">
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input checked disabled" data-value="1"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option1</span>
                            </label>
                        </div>
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input disabled" data-value="2"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option2</span>
                            </label>
                        </div>
                        <div class="be-checkbox-wrapper">
                            <div class="be-checkbox-input disabled" data-value="3"></div>
                            <label class="be-checkbox-label">
                                <span class="be-checkbox-labe-text">option3</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <p>calendar</p>
                    <div class="be-calendar-trigger be-input" id="J_c" style="width: 300px; margin-bottom: 15px;"  data-toggle="datatimepicker">
                        <div class="be-calendar-input-picker-wrapper">
                            <div class="be-calendar-input-picker-show">
                                <input class="be-calendar-picker-input" value="" readonly placeholder="开始时间"/>
                            </div>
                            <div class="be-calendar-input-picker-show">
                                <input class="be-calendar-picker-input" value="" readonly placeholder="结束时间"/>
                            </div>
                        </div>
                        <div class="be-calendar-picker-delete">
                            <i class="icon iconfont"></i>
                        </div>
                    </div>
                    <div class="be-calendar-trigger be-input" style="width: 300px;"  data-toggle="datatimepicker">
                        <div class="be-calendar-input-picker-wrapper">
                            <div class="be-calendar-input-show">
                                <input class="be-calendar-picker-input" readonly placeholder="请选择时间"/>
                            </div>
                        </div>
                        <div class="be-calendar-picker-delete">
                            <i class="icon iconfont"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var p = 963;
</script>
<script src="/public/js/jquery.min.js"></script>
　　
<!--script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script-->
<!--script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script-->
<!--[if lt IE 9]>

<script src="/public/js/respond.min.js"></script>
　　
<script src="/public/js/html5shiv.min.js"></script>

<![endif]-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/public/js/moment.min.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script src="/dist/js/bootstrap_extend.release.js?1547612893723"></script>
<script src="/dist/js/common.release.js?1547612893723"></script>
<script src="/dist/js/a.release.js?1547612893723"></script>
<script>
</script>

</html>