//background-color
@background-color:#f5f6f8;

//theme-color

//layout
@black:#000;
@white:#fff;
@font-clor: lighten(#000, 35%);
@iconfont-size: 12px;
@select-border-color: #d9d9d9;
@select-hover-border:#40a9ff;
@select-border-radius: 4px;
@select-dropdown-hint-color:lighten(#000, 85%);
@icon-up: "\e858";
@icon-down: "\e859";
@icon-right: "\e856";
@icon-narrow: "\e870";
@icon-expand: "\e86f";
@icon-success: "\e89a";
@icon-danger: "\e89e";
@icon-warning: "\e89f";


//--sidebar
@sidebar-width:256px;


//--header
@header-height:64px;
@header-light-bg:@white;

//--menu
@menu-dark-color: #A6A6A6;
@menu-dark-hover-bg: #1890ff;
@menu-dark-hover-color: @white;
@menu-font-size:14px;
@menu-dark-bg:#001529;
@menu-dark-sub-bg: #000C17;
@padding-left:24px;
@menu-item-height:40px;
@margin-top:10px;
@margin-right:0;
@margin-bottom:10px;
@margin-left:0;
@margin-narrow-top:4px;
@margin-narrow-right:4px;
@margin-narrow-bottom:4px;
@margin-narrow-left:4px;
@narrow-radius:4px;

//--select
@select-margin: 0 8px 10px 0;
@select-margin-top: 0;
@select-margin-right: 8px;
@select-margin-bottom: 10px;
@select-margin-left: 0;
@select-font-size:14px;
@select-font-line-height:32px;
@select-min-height:32px;
@select-font-input-line-height:30px;
@select-min-input-height:30px;
@select-padding: 0 11px;
@select-padding-top: 0;
@select-padding-left: 11px;
@select-padding-right: 11px;
@select-padding-bottom: 0;
@select-dropdown-bg: @white;
@select-dropdown-index:11;
@select-dropdown-item-color: lighten(#000, 35%);
@select-dropdown-item-hover-color: #e6f7ff;
@select-dropdown-item-selected-color: #fafafa;
@select-dropdown-shadow: lighten(#000, 90%);

//--upload
@upload-color: #1890FF;
@upload-icon-font-size:48px;
@upload-text-font-size:16px;
@upload-hint-font-size:14px;
@upload-index:10;

//--logo-area
@logo-area-height:64px;
@logo-area-bg:#000F1C;

//--alert
@alert-padding: 8px 15px 8px 37px;
@alert-index: 999;
@alert-success-border: #b7eb8f;
@alert-success-icon: #52c41a;
@alert-success-bg: #f6ffed;
@alert-danger-border: #ffa39e;
@alert-danger-icon: #f5222d;
@alert-danger-bg: #fff1f0;
@alert-warning-border: #ffe58f;
@alert-warning-icon: #faad14;
@alert-warning-bg: #fffbe6;

//--button
@primary-bg: #1890ff;
@primary-color:@white;
@primary-border: @primary-bg;
@primary-bg-hover: #40a9ff;
@primary-color-hover:@white;
@primary-border-hover: @primary-bg-hover;
@primary-bg-active: #096dd9;
@primary-color-active:@white;
@primary-border-active: @primary-bg-active;

@default-bg: @white;
@default-color:#40a9ff;
@default-border: #40a9ff;
@default-bg-hover: @white;
@default-color-hover: #40a9ff;
@default-border-hover: @default-color-hover;
@default-bg-active: @white;
@default-color-active: #096dd9;
@default-border-active: @default-color-active;